.input-field {
    margin: 10px;
}

input[type=submit] {
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

#result {
    margin: 10px;
}
