/* Updated CSS with added colors */

/* Styling for file input */
#csvFile {
    display: block;
    margin: 20px auto;
  }
  
  /* Styling for the table */
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  }

  h2 {
    border: 1px solid #ddd; /* Light gray border */
    padding: 10px;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #ddd; /* Light gray border */
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2; /* Light gray background */
  }
  
  /* Styling for regression plot and equation */
  .regression-plot {
    width: 100%;
    height: 200px; /* Increased height for better visibility */
    margin: 20px auto;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Adding border-radius for a softer look */
  }
  
  .regression-equation {
    margin-top: 20px;
    text-align: center;
    color: #333; /* Dark text color */
  }
  
  /* Additional styling for regression equation details */
  .regression-equation p {
    margin: 5px;
    color: #666; /* Medium dark text color */
  }
  

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .admin-panel {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "header header"
      "menu content";
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info span {
    margin-right: 10px;
  }
  
  .menu {
    grid-area: menu;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    grid-area: content;
    padding: 20px;
    overflow-y: auto;
  }